@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

:root {
    color-scheme: light dark;
    --white: hsl(0, 0%, 100%);
    --grey: hsla(0, 0%, 30%, 0.5);
    --red: hsla(10, 99%, 34%, 0.825);
    --button-hover: var(--red-hover);
    --red-hover: hsl(10, 99%, 40%);
    --post: var(--foreground-color);
    --text: var(--dark-color);
    --heading-color: var(--red);
    --light-color: hsla(231, 77%, 90%, 0.95);
    --dark-color: hsla(220, 100%, 3%, 0.935);
    /* --foreground-color: hsla(231, 77%, 90%, 0.75); */
    --foreground-color: hsla(0, 0, 100%, 0.05);
    --foreground: var(--foreground-color);
    --background: var(--white);
    --icon-color: var(--red);
    --icon-hover: var(--red);
    --post-shadow: var(--dark-color);
    --background-input: transparent;
    --shadow-input-1: rgba(17, 17, 26, 0.05);
    --shadow-input-2: rgba(17, 17, 26, 0.1);
    --shadow-input-3: rgba(0, 0, 0, 0.07);


    /* Toastify style override*/
    --toastify-toast-width: min(95vw, 250px);
    --toastify-toast-background: var(--background);
    --toastify-font-family: 'Gruppo', cursive;
    --toastify-text-color-light: var(--text);
}

.dark {
    --post: var(--foreground);
    --text: var(--light-color);
    --heading-color: var(--white);
    --light-color: hsla(231, 77%, 90%, 0.75);
    --foreground-color: hsla(223, 54%, 13%, 0.935);
    --foreground: var(--foreground-color);
    --background: var(--dark-color);
    --icon-hover: var(--red);
    --icon-color: hsl(0, 0%, 100%);
    --post-shadow: var(--light-color);
    --background-input: hsla(223, 54%, 13%, 0.35);
    --shadow-input-1: rgba(80, 80, 93, 0.05);
    --shadow-input-2: rgba(219, 219, 231, 0.1);

    /* Toastify style override*/
    --toastify-toast-background: var(--background);
    --toastify-text-color-light: var(--text);
    --toastify-text-color-dark: var(--text);

}

* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    max-width: 1440px;
    width: 100%;
    height: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    letter-spacing: .05rem;
    text-align: justify;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Gruppo', cursive;
    letter-spacing: 0;
    color: var(--heading-color);
    font-weight: normal;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button,
input,
textarea,
select {
    font: inherit;
    color: inherit;
}

::placeholder {
    opacity: 0.35;
    color: var(--text)
}

label {
    margin-bottom: 1.5vh;
}

textarea,
input[type="text"] {
    resize: none;
    padding: 1rem;
    border: .25px solid var(--grey);
    outline: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 3.5vh;
    background: var(--background-input);
    box-shadow: var(--shadow-input-1) 0px 1px 0px inset, var(--shadow-input-2) 0px 0px 8px inset;
}

button,
.btn {
    cursor: pointer;
    border: none;
    padding: .25rem 1rem;
    color: var(--white);
    font-weight: inherit;
    border-radius: 5px;
    background: var(--red);
    transition: all .35s ease-in-out;
    user-select: none;
}

button:disabled {
    cursor: not-allowed;
}

.submit-btn {
    padding-block: .5rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.delete-btn {
    width: 5rem;
}

button:hover,
.btn:hover {
    background: var(--button-hover);
}

.loader {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: auto;
    position: fixed;
    inset: 0;
    z-index: 99;
    color: var(--heading-color);
}

.app {
    background-color: var(--background);
    color: var(--text);
}

nav {
    position: sticky;
    transition: top .35s ease-in-out;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    padding: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

@supports (backdrop-filter: blur(2.5rem)) or (-webkit-backdrop-filter: blur(2.5rem)) {
    nav {
        background-color: var(--background);
        backdrop-filter: blur(2.5rem);
        -webkit-backdrop-filter: blur(2.5rem);
    }
}

nav h1 {
    color: var(--heading-color);
    font-size: 1.5rem;
}

nav button {
    padding: 0;
    width: 2rem;
    background: transparent;
}

nav button:hover {
    background: transparent;
}

.react-icons {
    font-size: 1.25rem;
    vertical-align: middle;
    transition: all .25s ease-in-out;
    color: var(--icon-color);
}

.react-icons:hover {
    color: var(--red-hover);
    transform: scale(1.15)
}

.header,
.form {
    display: grid;
    width: 100%;
}

.header-main {
    min-height: 100vh;
    width: min(100%, 900px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 5vh 5vw;
    margin: auto;
    position: relative;
}

.posts {
    display: grid;
    gap: 3.5vh 0;
    margin-block: 3vh;
}

.post {
    display: grid;
    text-align: justify;
    padding: 1rem;
    background: var(--post);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}


.post button {
    justify-self: end;
    margin-block: .5rem;
}

.post h2 {
    text-align: left;
}

.post p {
    margin-block: 1rem;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 0.5rem;

}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    margin-block: 2rem;
}

.pagination-btn.active,
.pagination-btn:hover {
    background: var(--red-hover);
    color: var(--white);
}

.num-btn {
    color: var(--text);
    aspect-ratio: 1;
    width: 1.75rem;
    border-radius: 50%;
    padding: 0.2rem;
    background: transparent;
    transition: background 0.3s ease-in-out;
}


.pagination-btn:disabled {
    background: var(--red);
    color: var(--text);
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    aspect-ratio: 1;
    width: 1rem;
    border: 10px solid var(--white);
    border-top: 10px solid var(--text);
    border-radius: 50%;
    animation: spinner 2.5s linear infinite;
}

.spinner-container {
    display: grid;
    place-items: center;
    height: 1.5rem;
}

@media (min-width: 300px) {
    nav h1 {
        font-size: 2.25rem;
    }

    label {
        font-size: 1.5rem;
    }

    .react-icons {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.15rem;
    }
}

@media (min-width: 481px) {
    nav {
        padding: 1rem 1.5rem;
    }

    .post {
        padding-inline: 2rem;
    }
}

@media (min-width: 769px) {
    nav {
        padding: 1rem 2rem;
    }

    nav h1 {
        font-size: 2.5rem;
    }

    .post {
        padding-inline: 2.5rem;
    }

    .pagination {
        column-gap: 1rem;

    }

    .num-btn {

        width: 2.5rem;

        padding: 0.25rem;
    }


}


@media (prefers-color-scheme: light) {
    :root {
        --white: hsl(0, 0%, 100%);
        --red: hsla(10, 99%, 34%, 0.825);
        --button-hover: var(--red-hover);
        --red-hover: hsl(10, 99%, 40%);
        --post: var(--foreground-color);
        --text: var(--dark-color);
        --heading-color: var(--red);
        --light-color: hsla(231, 77%, 90%, 0.95);
        --dark-color: hsla(220, 100%, 3%, 0.935);
        --foreground-color: hsla(231, 77%, 90%, 0.75);
        --foreground: var(--foreground-color);
        --background: var(--light-color);
        --icon-color: var(--red);
        --icon-hover: var(--red);
        --post-shadow: var(--dark-color);
        --background-input: transparent;
        --shadow-input-1: rgba(17, 17, 26, 0.05);
        --shadow-input-2: rgba(17, 17, 26, 0.1);
    }

}

@media (prefers-reduced-motion) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::after,
    *::before {
        animation-duration: 0.1ms !important;
        transition-duration: 0.1ms !important;
        animation-iteration-count: 1;
        scroll-behavior: auto !important;
    }
}